@import 'styles';

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.activate {
  .row-flex();
  .justify-content(center);
  .button-on.uk-active {
    background: #82bb42;
    text-shadow: 0 -0.5px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
  .button-off.uk-active {
    background: #d32c46;
    color: #ffffff;
    text-shadow: 0 -0.5px 0 rgba(0, 0, 0, 0.3);
  }
  .uk-active{
    cursor: default;
  }
}

body {
  .content {
    .container {
      background: rgba(255, 255, 255, 0.8);
      position: relative;
      margin: 0 auto;
      padding: 30px;
      box-sizing: border-box;
    }
  }
}