@import 'styles';

body {
  .article-last {
    .wrapper {
      .article-last--item {
        .row-flex();
        .article-last--description {
          .col();
          .col-6();
        }
        .article-last--image {
          .col();
          .col-6();
          overflow: hidden;
          img {
            width: 100%;
            display: block;
            transition: 0.5s;
            &:hover {
              transform: scale(1.1);
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
  .articles-list {
    margin-top: -100px;
    background: #ffffff;
    .wrapper {
      .articles-list--item {
        .row-flex();
        .align-items(start);
        .article {
          .row-flex();
          .flex-direction(column);
          .col();
          .col-4();
          .col-lg-6();
          .col-sm-12();
          border-radius: 2px;
          box-shadow: 0 5px 8px 0 rgba(160, 166, 168, 0.35);
          background: #ffffff;
          margin-bottom: 30px;
          position: relative;
          z-index: 6001;
          .article-image {
            overflow: hidden;
            img {
              width: 100%;
              display: block;
              transition: 0.5s;
              &:hover {
                transform: scale(1.1);
                transition: 0.5s;
              }
            }
          }
          .article-description {
            padding: 30px;
            .article-author {
              display: block;
              color: #adadae;
            }
            .article-text {
              p {
                font-size: 16px;
                color: #777777;
              }
            }
          }
        }
      }
    }
  }
}
