@import 'styles';

body {
  .content {
    margin-top: -100px;
    background-image: url("../images/background/body_bg.jpg");
    background-size: 70%;
    .wrapper {
      .articles-list {
        .row-flex();
        .align-items(start);
        .article {
          .row-flex();
          .flex-direction(column);
          .col();
          .col-4();
          .col-lg-6();
          .col-sm-12();
          border-radius: 2px;
          box-shadow: 0 5px 8px 0 rgba(160, 166, 168, 0.35);
          background: #ffffff;
          margin-bottom: 30px;
          position: relative;
          z-index: 6001;
          .article-image {
            overflow: hidden;
            img {
              width: 100%;
              display: block;
              transition: 0.5s;
              &:hover {
                transform: scale(1.2);
                transition: 0.5s;
              }
            }
          }
          .article-preview {
            padding: 30px;
            .article-author {
              display: block;
              color: #adadae;
            }
            .article-text {
              p {
                font-size: 16px;
                color: #777777;
              }
            }
          }
        }
      }
    }
  }
}
