@import 'smart-grid';

@font-face {
  font-family: 'Exo2-Regular';
  src: url(../fonts/Exo2-Regular.ttf);
}
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/FontAwesome/fontawesome-webfont.woff2") format('woff2'), url("../fonts/FontAwesome/fontawesome-webfont.woff") format("woff"), url("../../../nt_php/build/fonts/FontAwesome/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.reset();

.wrapper {
  .wrapper();
  font-family: 'Exo2-Regular', Arial;
}

body {
  //background-image: url("../images/background/body_bg.jpg");
  //background-size: 70%;
  background: #ffffff;
  margin: 0;
  font-family: 'Exo2-Regular';
  color: #5c5c5c;
  .navbar {
    background: #ffffff;
    height: 80px;
    .wrapper {
      .row-flex();
      margin: 0 auto;
      position: relative;
      .justify-content(space-between);
      .logo {
        .col();
        .col-2();
        .row-flex();
        background-image: url("../images/logo/moon.svg");
        position: absolute;
        top: -2px;
        width: 150px;
        height: 150px;
        z-index: 1000;
        a {
          width: inherit;
          height: inherit;
        }
      }
      .nav{
        .col();
        .col-10();
        .row-flex();
        .justify-content(flex-end);
        margin-top: 15px;
        .user {
          h3 {
            margin: 0;
          }
          .role {
            font-size: 18px;
          }
        }
      }
    }

  }
  .header {
    background: url("../images/background/bg_001.png") no-repeat;
    background-size: cover;
    //height: 500px;
    position: relative;
    //.texture_border {
    //  background-image: url("../images/background/texture_border.png");
    //  background-position: repeat-x;
    //  height: 30px;
    //  width: 100%;
    //  position: absolute;
    //  bottom: 0;
    //  left: 0;
    //  z-index: 1000;
    //}
    margin-bottom: -20px;
  }
  .content {
    margin-bottom: 0;
    padding-bottom: 20px;
  }
  .footer {
    background: #4f5157;
    color: #ffffff;
    text-transform: uppercase;
    .wrapper {
      .row-flex();
      .justify-content(space-between);
      .align-items(center);
      margin: 0 auto;
      .footer-logo {
        .col();
        .col-1();
        .row-flex();
        background-image: url("../images/logo/moon.svg");
        width: 80px;
        height: 80px;
        z-index: 1000;
        a {
          width: inherit;
          height: inherit;
        }
      }
      .copyright {
        .col();
        .col-11();
        color: #adadae;
      }
    }
  }
}

// ----------------------------

p {
  margin: 20px 0;
  padding: 0;
}
a {
  cursor: pointer;
}
.user h3 {
  font-family: 'Exo2-Regular';
}
h1 {
  margin: 0;
  padding: 40px 0;
}
h2 {
  font-size: 37px;
  line-height: 44px;
  font-weight: 100;
  color: #5c5c5c;
  margin: 0 0 20px 0;
}
h3 {
  font-size: 27px;
  line-height: 34px;
  font-weight: 100;
  margin: 0 0 10px 0;
  color: #777777;
}
.pages-iput {
  padding: 10px;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 0;
  font-size: 16px;
  color: #5c5c5c;
}
.textarea {
  height: 300px;
}
/*select {*/
/*!*-webkit-appearance: none;*!*/
/*position: absolute;*/
/*top: 0;*/
/*z-index: 1;*/
/*width: 100%;*/
/*height: 100%;*/
/*opacity: 0;*/
/*cursor: pointer;*/
/*left: 0;*/
/*-webkit-appearance: none;*/
/*}*/

[class*='icon--'] {
  font-family: 'FontAwesome';
  /* 1 */
  display: inline-block;
  /* 2 */
  font-weight: normal;
  font-style: normal;
  /* 4 */
  line-height: 1;
  /* 5 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon--news:before {
  content: "\f0ac";
  margin-right: 10px;
}
.icon--user:before {
  content: "\f007";
  margin-right: 10px;
}
.edit-new--title, .edit-new--content, .add-new--title, .add-new--content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.edit-new--tag, .add-new--tag {
  flex-basis: 200px;
  flex-grow: 1;
}
.edit-new--text, .add-new--text {
  flex-grow: 7;
}
.auth-container, .auth--password, .auth--remember {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.auth--tag {
  flex-basis: 200px;
}
/*input[type=checkbox] {*/
/*margin: 3px 0;*/
/*}*/

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new, .auth {
  border-radius: 2;
  padding: 40px;
  box-shadow: 0 5px 8px 0 rgba(160, 166, 168, 0.35);
  background: #ffffff;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.new--body {
  margin-bottom: 0;
}

.new--name {
  color: #557;
}

.note {
  color: #adadae;
  letter-spacing: 2px;
  font-size: 12px;
}
.button {
  -webkit-appearance: none;
  margin: 0;
  border: 1px solid #ffffff;
  border-radius: 3px;
  overflow: visible;
  font: inherit;
  color: #5c5c5c;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 15px;
  background: #ffffff;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 6px 0px rgba(160, 165, 168, 0.5);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  min-height: 40px;
  line-height: 40px;
  font-size: 13px;
  cursor: pointer;
}
.button:not(:last-child) {
  margin-right: 20px;
}
.button:active {
  background-color: #f7f7f7;
}
.button:hover {
  background: #f6f6f6;
  text-decoration: none;
  color: inherit;
}

.button-dark {
  color: #ffffff;
  background: #777777;
  box-shadow: 0 4px 6px 0px rgba(50, 55, 58, 0.7);
}

.button-dark:hover {
  color: #ffffff;
  background: #555555;
  box-shadow: 0 4px 6px 0px rgba(50, 55, 58, 0.7);
}

.button-dark:active {
  background: #46474d;
  box-shadow: 0 2px 6px 0px rgba(40, 45, 48, 1);
}

.button-control {
  display: inline-block;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  border-radius: 50%;
  background: #557;
  color: #fff;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.danger {
  background: #d3343d;
  color: #ffffff;
  padding: 10px;
  margin-left: 20px;
}
.auth_danger {
  background: #d3343d;
  color: #ffffff;
  padding: 10px;
  margin-top: 20px;
}
.footer__copyright .wrapper span {
  font-family: 'Exo2-Regular';
}
.icon--copyright:before {
  content: "\f1f9";
  margin-right: 5px;
}
.not-found {
  text-align: center;
  margin-bottom: 70px;
}

.user {
  text-align: right;
}

.user > span {
  font-size: 12px;
}
.content {
  margin-bottom: 40px;
}